*{
    margin: 0;
    padding: 0;
    text-align: center;
}

header{
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: bold;
}

footer{
    font-size: 0.7rem;
    line-height: 1rem;
}

header, footer{
    background-color: black;
    color: white;
}

main{
    height: calc(100vh - 3.5rem);
}

#gameCanvas{
    height: calc(100vh - 3.7rem);
    width: calc(100vw - 0.4rem);
    border: 3px solid black;
    display: inline-block;
    margin-bottom: 5px;
    background-color: #E8F5E9;
}